<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://kit.fontawesome.com/83c95587fe.js" crossorigin="anonymous"></script>
    <link href="../src/output.css" rel="stylesheet">
</head>
<body>
        <h1 class="text-4xl text-teal-500 text-center font-bold m-8">Unquestionably Legitimate University</h1>
        <div class="container m-auto grid grid-cols-3 gap-4 place-items-center ">
        {{ range . }}
        <div class="w-72 mb-8 p-4 border-8 rounded-lg border-indigo-500 bg-indigo-100">
            <div class="flex justify-between">
                <h2 class="text-2xl inline">
                    {{ .Name }}
                </h2>
                <div class="ml-2">
                    <a href="http://localhost:8080/edit/{{ .CourseID }}"><i class="m-1 mt-2 fa-regular fa-pen-to-square text-right"></i></a>
                    <button onclick="deleteCourse({{ .CourseID }})"><i class="m-1 mt-2 fa-solid fa-trash text-right"></i></button>
                </div>
            </div>
            <h3>
                Instructor: {{ .Instructor }}
            </h3>
            <h3>
                Prerequisites: 
            </h3>
        </div>
        {{ end }}
        </div>
    <h2>Add a new course!</h2>
    <form action="http://localhost:8080/newCourse" method="post">
        <label for="name">Course Name:</label>
        <input type="text" id="name" name="name"><br><br>
        <label for="instructor">Instructor:</label>
        <input type="text" id="instructor" name="instructor"><br><br>
        <label for="preRequisites">preRequisites:</label>
        <input type="number" id="preRequisites" name="preRequisites"><br><br>
        <input type="submit" value="Submit"> 
    </form>
    <script>
        function deleteCourse(CourseID) {
            console.log('delete course');
            axios.delete("http://localhost:8080/course/" + String(CourseID))
                .then(() => window.location.reload())
                .catch(() => window.alert("failed to delete"));
        }
    </script>
</body>
</html>
